# Configurações do Banco de Dados Oracle
DATABASE_CONNECTION=Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle.fiap.com.br)(PORT=1521)))(CONNECT_DATA=(SID=orcl)));User Id=rmXXXXXX;Password=XXXXXX;Persist Security Info=True;Pooling=True;Connection Timeout=60;

# Configurações de Segurança (JWT)
JWT_SECRET_KEY=sua-chave-secreta-de-pelo-menos-32-caracteres
JWT_ISSUER=WasteReportingAPI
JWT_AUDIENCE=WasteReportingUsers
JWT_EXPIRATION_MINUTES=60

# Configurações do ambiente ASP.NET Core
ASPNETCORE_ENVIRONMENT=Development
